.card-gradient {
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 2.5%,
    rgba(18, 20, 23, 0) 41.07%
  );
}

.model-span {
  @apply text-blue-primary font-medium font-manrope;
}

.card-specs-list {
  @apply mt-2 text-xs flex flex-wrap gap-2 font-manrope text-light-gray capitalize;
}

.card-specs-item {
  @apply flex gap-2 font-manrope;
}

.card-specs-divider {
  @apply h-full w-px bg-black-10;
}

.favorites-button {
  @apply absolute top-5 right-5 w-5 h-5 bg-transparent border-none duration-150 hover:scale-105;
}

.favorites-button:focus {
  outline: none;
}

.favorites-button:hover svg {
  stroke: #fff !important;
}
